<%= form_for(@sticker) do |f| %>
  <% if @sticker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sticker.errors.count, "error") %> prohibited this sticker from being saved:</h2>

      <ul>
      <% @sticker.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :coordsX %><br>
    <%= f.number_field :coordsX %>
  </div>
  <div class="field">
    <%= f.label :coordsY %><br>
    <%= f.number_field :coordsY %>
  </div>
  <div class="field">
    <%= f.label :userValue %><br>
    <%= f.text_field :userValue %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
